<div class="content-block">
	<ul class="column-group gutters">
		<li class="all-100 large-33 xlarge-33">
			<a href="/article-detail.html">
				<!-- imagem de lorempixel.com -->
				<img src="http://lorempixel.com/960/320/people/2">
				<!-- /imagem de lorempixel.com -->

				<p>Parágrafo (do grego: paragraphos, "escrever ao lado" ou "escrito ao lado") é uma unidade autossuficiente de um discurso, na escrita, que lida com um ponto de vista ou ideia particular.</p>
			</a>
		</li>
		<li class="all-100 large-33 xlarge-33">
			<a href="/article-detail.html">
				<!-- imagem de lorempixel.com -->
				<img src="http://lorempixel.com/960/320/people/3">
				<!-- /imagem de lorempixel.com -->

				<p>Parágrafo (do grego: paragraphos, "escrever ao lado" ou "escrito ao lado") é uma unidade autossuficiente de um discurso, na escrita, que lida com um ponto de vista ou ideia particular.</p>
			</a>
		</li>
		<li class="all-100 large-33 xlarge-33">
			<a href="/article-detail.html">
				<!-- imagem de lorempixel.com -->
				<img src="http://lorempixel.com/960/320/people/4">
				<!-- /imagem de lorempixel.com -->

				<p>Parágrafo (do grego: paragraphos, "escrever ao lado" ou "escrito ao lado") é uma unidade autossuficiente de um discurso, na escrita, que lida com um ponto de vista ou ideia particular.</p>
			</a>
		</li>
	</ul>
</div>