<!-- Comenta os itens que não precisares -->
<nav class="ink-navigation">
	<ul class="menu horizontal social-menu">

		<!-- SOCIAL -->
		<li class="facebook-btn">
			<a href="#">
				<i class="fa fa-facebook"></i>
				<span>Facebook</span>
			</a>
		</li>
		<li class="twitter-btn">
			<a href="#">
				<i class="fa fa-twitter"></i>
				<span>Twitter</span>
			</a>
		</li>
		<!-- <li class="googleplus-btn">
			<a href="#">
				<i class="fa fa-google-plus"></i>
				<span>Google +</span>
			</a>
		</li> -->
		<li class="linkedin-btn">
			<a href="#">
				<i class="fa fa-linkedin"></i>
				<span>Linkedin</span>
			</a>
		</li>

		<!-- PHOTOGRAPHY -->
		<!-- <li class="pinterest-btn">
			<a href="#">
				<i class="fa fa-pinterest-p"></i>
				<span>Pinterest</span>
			</a>
		</li> -->
		<li class="instagram-btn">
			<a href="#">
				<i class="fa fa-instagram"></i>
				<span>Instagram</span>
			</a>
		</li>
		<!-- <li class="flickr-btn">
			<a href="#">
				<i class="fa fa-flickr"></i>
				<span>Flickr</span>
			</a>
		</li> -->

		<!-- MUSIC -->
		<!-- <li class="soundcloud-btn">
			<a href="#">
				<i class="fa fa-soundcloud"></i>
				<span>Soundcloud</span>
			</a>
		</li>
		<li class="spotify-btn">
			<a href="#">
				<i class="fa fa-spotify"></i>
				<span>Spotify</span>
			</a>
		</li>
		<li class="lastfm-btn">
			<a href="#">
				<i class="fa fa-lastfm"></i>
				<span>Last fm</span>
			</a>
		</li> -->

		<!-- COMMUNICATION -->
		<!-- <li class="skype-btn">
			<a href="#">
				<i class="fa fa-skype"></i>
				<span>Skype</span>
			</a>
		</li> -->
		<!-- <li class="slack">
			<a href="#">
				<i class="fa fa-slack"></i>
				<span>Slack</span>
			</a>
		</li>
		<li class="whatsapp-btn">
			<a href="#">
				<i class="fa fa-whatsapp"></i>
				<span>WhatsApp</span>
			</a>
		</li> -->
		
		<!-- PLACE RATING -->
		<!-- <li class="foursquare-btn">
			<a href="#">
				<i class="fa fa-foursquare"></i>
				<span>Foursquare</span>
			</a>
		</li>
		<li class="tripadvisor-btn">
			<a href="#">
				<i class="fa fa-tripadvisor"></i>
				<span>TripAdvisor</span>
			</a>
		</li> -->
		<!-- <li class="yelp-btn">
			<a href="#">
				<i class="fa fa-yelp"></i>
				<span>Yelp</span>
			</a>
		</li> -->

		<!-- VIDEO -->
		<!-- <li class="youtube-btn">
			<a href="#">
				<i class="fa fa-youtube"></i>
				<span>YouTube</span>
			</a>
		</li> -->
		<li class="vimeo-btn">
			<a href="#">
				<i class="fa fa-vimeo"></i>
				<span>Vimeo</span>
			</a>
		</li>
		<!-- <li class="vine-btn">
			<a href="#">
				<i class="fa fa-vine"></i>
				<span>Vine</span>
			</a>
		</li> -->

		<!-- BLOGGING -->
		<!-- <li class="medium-btn">
			<a href="#">
				<i class="fa fa-medium"></i>
				<span>Medium</span>
			</a>
		</li>
		<li class="wordpress-btn">
			<a href="#">
				<i class="fa fa-wordpress"></i>
				<span>Wordpress</span>
			</a>
		</li> -->
		<!-- <li class="tumblr-btn">
			<a href="#">
				<i class="fa fa-tumblr"></i>
				<span>Tumblr</span>
			</a>
		</li> -->

		<!-- DESIGN -->
		<!-- <li class="dribbble-btn">
			<a href="#">
				<i class="fa fa-dribbble"></i>
				<span>Dribbble</span>
			</a>
		</li> -->
		<!-- <li class="behance-btn">
			<a href="#">
				<i class="fa fa-behance"></i>
				<span>Bahance</span>
			</a>
		</li>
		<li class="deviantart-btn">
			<a href="#">
				<i class="fa fa-deviantart"></i>
				<span>DeviantArt</span>
			</a>
		</li> -->

		<!-- DEVELOPMENT -->
		<li class="github-btn">
			<a href="#">
				<i class="fa fa-github"></i>
				<span>GitHub</span>
			</a>
		</li>
		<li class="codepen-btn">
			<a href="#">
				<i class="fa fa-codepen"></i>
				<span>CodePen</span>
			</a>
		</li>
		<!-- <li class="jsfiddle-btn">
			<a href="#">
				<i class="fa fa-jsfiddle"></i>
				<span>JSFiddle</span>
			</a>
		</li> -->

		<!-- CLOUDS -->
		<!-- <li class="dropbox-btn">
			<a href="#">
				<i class="fa fa-dropbox"></i>
				<span>Dropbox</span>
			</a>
		</li>
		<li class="skyatlas-btn">
			<a href="#">
				<i class="fa fa-skyatlas"></i>
				<span>Skyatlas</span>
			</a>
		</li>
		<li class="cloud-btn">
			<a href="#">
				<i class="fa fa-cloud"></i>
				<span>cloud</span>
			</a>
		</li> -->

		<!-- GAMING -->
		<li class="steam-btn">
			<a href="#">
				<i class="fa fa-steam"></i>
				<span>Steam</span>
			</a>
		</li>
		<!-- <li class="twitch-btn">
			<a href="#">
				<i class="fa fa-twitch"></i>
				<span>Network</span>
			</a>
		</li>
		<li class="gamepad-btn">
			<a href="#">
				<i class="fa fa-gamepad"></i>
				<span>gamepad</span>
			</a>
		</li> -->
	</ul>
</nav>

