
<li class="homepage {% if page.id == "homepage" %}active{% endif %}">
	<a href="/index.html">Entrada</a>
</li>

<li class="page1 {% if page.id == "page1" %}active{% endif %}">
	<a href="/page1.html">page1</a>
</li>

<li class="page2 {% if page.id == "page2" %}active{% endif %}">
	<a href="/page2.html">page2</a>
</li>

<li class="page3 {% if page.id == "page3" %}active{% endif %}">
	<a href="/page3.html">page3</a>
</li>

<li class="page4 {% if page.id == "page4" %}active{% endif %}">
	<a href="/page4.html">page4</a>
</li>

<li class="page5 {% if page.id == "page5" %}active{% endif %}">
	<a href="/page5.html">page5</a>
</li>

<li class="page6 {% if page.id == "page6" %}active{% endif %}">
	<a href="/page6.html">page6</a>
</li>

