<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- TITLES -->
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
	{% if page.title %}
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="twitter:title" content="{{ page.title }}" />
	{% endif %}

	<!-- DESCRIPTION -->
	{% if page.excerpt %}
	<meta name="description" content="{{ page.excerpt| strip_html }}" />
	<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
	{% else %}
	<meta name="description" content="{{ site.description }}">
	<meta property="og:description" content="{{ site.description }}" />
	{% endif %}

	<!-- VIEWPORT -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

	<!-- MOBILE -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

	<!-- FAVICON -->
	<link rel="icon" type="image/x-icon" href="/imgs/icons/favicon.ico">

	<!-- ADD TO HOME SCREEN ICONS ANDROID -->
	<link rel="icon" sizes="192x192" href="/imgs/icons/android-192.png">
	<link rel="icon" sizes="144x144" href="/imgs/icons/android-144.png">
	<link rel="icon" sizes="96x96" href="/imgs/icons/android-96.png">
	<link rel="icon" sizes="72x72" href="/imgs/icons/android-72.png">
	<link rel="icon" sizes="48x48" href="/imgs/icons/android-48.png">

	<!-- ADD TO HOME SCREEN ICONS iOS -->
	<link rel="apple-touch-icon" sizes="180x180" href="/imgs/icons/ios-180.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/imgs/icons/ios-167.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/imgs/icons/ios-152.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/imgs/icons/ios-144.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/imgs/icons/ios-120.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/imgs/icons/ios-114.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/imgs/icons/ios-76.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/imgs/icons/ios-72.png">
	<link rel="apple-touch-icon" sizes="60x0" href="/imgs/icons/ios-60.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/imgs/icons/ios-57.png">

	<!-- FONTS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200'>

	<!-- INK STYLE -->
	<link rel="stylesheet" type="text/css" href="https://ink.global.ssl.fastly.net/3.1.10/css/ink.min.css">

	<!-- PROJECT STYLE-->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>


<body class="ink-drawer {{page.id}}">

	<!-- DRAWER MAIN MENU -->
	<div class="right-drawer drawer">
		<!-- MENU ITEMS -->
		<nav class="ink-navigation">
			<ul class="menu vertical drawer-menu">	
				{% include menu-items.html %}
			</ul>
		</nav>
	</div>
	<!-- end DRAWER MAIN MENU -->

	<!-- CONTENT DRAWER: allows content to slide aside to show mobile menu -->
	<div class="content-drawer">

		<!-- HEADER -->
		<div id="header">

			<div class="ink-grid">

				<div class="column-group">
					<div class="site-id all-70">
						<h1><a href="/">Site name</a></h1>
						<p class="site-description">Site description</p>
					</div>
					<div class="top-search all-30">
						{% include search-form.html %}
					</div>
				</div>
				

				<!-- MENU BUTTON TO DRAWER -->
				<div id="btn-menu-show" class="btn-menu-show">
					<a id="open-drawer" class="right-drawer-trigger">
						<span class="show-menu">Menu</span>
					</a>
				</div>

			</div>
		</div>


		<!-- TOP MAIN MENU -->
		<div id="top-menu">
			<div class="ink-grid">
				<nav class="ink-navigation">
					<ul class="menu horizontal main-menu">

						{% include menu-items.html %}

					</ul>
				</nav>
			</div>
		</div>
		<!-- end TOP MAIN MENU -->


		<section class="page-contents">

			<div class="ink-grid">
				{{ content }}
			</div>
		</section>

		<!-- FOOTER -->
		<footer id="footer">
			<div class="ink-grid">

				<!-- TOP MAIN MENU -->
				<nav class="ink-navigation">
					<ul class="menu horizontal footer-menu">
					   {% include menu-items.html %}
					</ul>
				</nav>
				<!-- end TOP MAIN MENU -->

				{% include menu-social.html %}

			</div>
		</footer>
		<!-- end FOOTER -->
		

	</div>
	<!-- end CONTENT DRAWER -->

	<!-- JAVASCRIPT -->
	<script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.9/js/ink-all.min.js"></script>
	<script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.1/js/autoload.js"></script>

	<!--[if IE 8]>
	<script type="text/javascript" src="http://imgs.sapo.pt/ink/assets/js/html5shiv.js"></script>
	<script type="text/javascript" src="http://imgs.sapo.pt/ink/assets/js/html5shiv-printshiv.js"></script>
	<script type="text/javascript" src="http://imgs.sapo.pt/ink/assets/js/respond.src.js"></script> 
	<![endif]-->

</body>
</html>
